In [1]:
import numpy as np
import pandas as pd

In [2]:
####Test Dataframe that we want to make a prediction on, so we scale before feeding into model

In [3]:
from sqlalchemy import create_engine
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'lhl_student' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = 'lhl_student' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD
POSTGRES_DBNAME = 'mid_term_project' ## CHANGE THIS TO YOUR DATABASE NAME
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME,password=POSTGRES_PASSWORD,ipaddress=POSTGRES_ADDRESS,port=POSTGRES_PORT,dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

In [4]:
full = pd.read_sql_query('''DROP TABLE IF EXISTS passengers_aggregated;
DROP TABLE IF EXISTS week_one;

SELECT op_carrier_fl_num, op_unique_carrier, MAX(origin_airport_id) AS origin_airport_id, MAX(dest_airport_id) AS dest_airport_id, AVG(distance) AS distance, CONCAT(flights_test.origin_airport_id, '-', flights_test.dest_airport_id) AS route, EXTRACT(DAY from fl_date) AS day
INTO TABLE week_one
FROM flights_test
WHERE EXTRACT(DAY from fl_date) < 08
GROUP BY op_carrier_fl_num, route, op_unique_carrier, day;

SELECT AVG(departures_scheduled) AS avg_departures_scheduled, AVG(departures_performed) AS avg_departures_performed, AVG(seats) AS avg_seats, AVG(passengers) AS avg_passengers, AVG(freight) AS avg_freight, AVG(mail) AS avg_mail, MAX(aircraft_group) AS aircraft_group, MAX(aircraft_type) AS aircraft_type, unique_carrier, CONCAT(origin_airport_id, '-', dest_airport_id) AS route
INTO passengers_aggregated
FROM passengers
WHERE month = 01
GROUP BY route, unique_carrier;

SELECT day, op_unique_carrier, MAX(week_one.origin_airport_id) AS origin_airport_id, MAX(week_one.dest_airport_id) AS dest_airport_id, MAX(distance) AS distance, MAX(avg_departures_scheduled) AS avg_departures_scheduled, MAX(avg_departures_performed) AS avg_departures_performed, MAX(avg_seats) AS avg_seats, MAX(avg_passengers) AS avg_passengers, MAX(avg_freight), MAX(avg_mail) AS avg_mail, MAX(aircraft_group) AS aircraft_group, MAX(aircraft_type) AS aircraft_type
FROM week_one JOIN passengers_aggregated ON (week_one.route = passengers_aggregated.route AND op_unique_carrier = unique_carrier)
GROUP BY op_carrier_fl_num, week_one.route, op_unique_carrier, day;''',cnx)

In [5]:
df = pd.read_csv("Full DFs/dfV3Q.csv")

In [6]:
keys = list(df.keys())

In [7]:
df1 = pd.DataFrame(columns=keys)

In [8]:
df1

Empty DataFrame
Columns: [avg_arr_delay, Month_1, Month_2, Month_3, Month_4, Month_5, Month_6, Month_7, Month_8, Month_9, Month_10, Month_11, Month_12, year_2018, year_2019, unique_carrier_9E, unique_carrier_9K, unique_carrier_AA, unique_carrier_AS, unique_carrier_AX, unique_carrier_B6, unique_carrier_C5, unique_carrier_CP, unique_carrier_DL, unique_carrier_EM, unique_carrier_EV, unique_carrier_F9, unique_carrier_G4, unique_carrier_G7, unique_carrier_HA, unique_carrier_KS, unique_carrier_MQ, unique_carrier_NK, unique_carrier_OH, unique_carrier_OO, unique_carrier_PT, unique_carrier_QX, unique_carrier_UA, unique_carrier_VX, unique_carrier_WN, unique_carrier_YV, unique_carrier_YX, unique_carrier_ZW, aircraft_group_4, aircraft_group_6, aircraft_group_8, aircraft_type_432, aircraft_type_441, aircraft_type_456, aircraft_type_482, aircraft_type_484, aircraft_type_491, aircraft_type_530, aircraft_type_608, aircraft_type_612, aircraft_type_614, aircraft_type_617, aircraft_type_622, aircraft_type_623, aircraft_type_624, aircraft_type_626, aircraft_type_627, aircraft_type_629, aircraft_type_631, aircraft_type_634, aircraft_type_637, aircraft_type_638, aircraft_type_655, aircraft_type_656, aircraft_type_673, aircraft_type_674, aircraft_type_675, aircraft_type_676, aircraft_type_677, aircraft_type_678, aircraft_type_687, aircraft_type_694, aircraft_type_696, aircraft_type_698, aircraft_type_699, aircraft_type_721, aircraft_type_722, aircraft_type_723, aircraft_type_819, aircraft_type_837, aircraft_type_838, aircraft_type_839, aircraft_type_887, aircraft_type_888, aircraft_type_889, Region_D, Region_L, Region_P, origin_airport_id_10135, origin_airport_id_10136, origin_airport_id_10140, origin_airport_id_10141, origin_airport_id_10146, origin_airport_id_10154, origin_airport_id_10155, ...]
Index: []

[0 rows x 852 columns]

In [9]:
full

,day,op_unique_carrier,origin_airport_id,dest_airport_id,distance,avg_departures_scheduled,avg_departures_performed,avg_seats,avg_passengers,max,avg_mail,aircraft_group,aircraft_type
0,4.0,OO,11337,13930,397.0,51.750000,50.125000,2513.750000,1894.625000,0.000000,0.000000,6,631
1,1.0,AA,10397,12892,1947.0,56.666667,55.666667,8457.500000,7436.500000,2044.833333,3934.000000,6,699
2,1.0,WN,13204,13232,990.0,78.642857,76.071429,11757.928571,10204.928571,14073.571429,0.000000,6,838
3,3.0,9E,11433,14100,453.0,4.166667,4.000000,273.666667,203.000000,0.000000,0.000000,6,638
4,5.0,OO,10599,11298,597.0,2.000000,1.000000,70.000000,39.000000,0.000000,0.000000,6,631
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143941,6.0,WN,14747,14831,696.0,30.615385,30.307692,4527.538462,3076.230769,3318.076923,0.000000,6,838
143942,4.0,AA,14908,13930,1726.0,69.800000,68.600000,10764.000000,9288.000000,32.800000,661.800000,6,614
143943,4.0,WN,14107,14679,304.0,111.000000,108.928571,16208.357143,10956.357143,8370.928571,0.000000,6,838
143944,5.0,UA,11618,12173,4962.0,25.666667,24.666667,5828.166667,4510.833333,107314.166667,66181.666667,6,626
143945,5.0,OO,10693,12953,764.0,106.000000,106.000000,7420.000000,4763.000000,0.000000,0.000000,6,673

In [10]:
#full1

In [11]:
#full1.nunique()

In [12]:
full.rename(columns = {'avg_departures_scheduled':'departures_scheduled', 'avg_departures_performed':'departures_performed','avg_seats':'seats','avg_passengers':'passengers','avg_mail':'mail' }, inplace = True)

In [13]:
full

,day,op_unique_carrier,origin_airport_id,dest_airport_id,distance,departures_scheduled,departures_performed,seats,passengers,max,mail,aircraft_group,aircraft_type
0,4.0,OO,11337,13930,397.0,51.750000,50.125000,2513.750000,1894.625000,0.000000,0.000000,6,631
1,1.0,AA,10397,12892,1947.0,56.666667,55.666667,8457.500000,7436.500000,2044.833333,3934.000000,6,699
2,1.0,WN,13204,13232,990.0,78.642857,76.071429,11757.928571,10204.928571,14073.571429,0.000000,6,838
3,3.0,9E,11433,14100,453.0,4.166667,4.000000,273.666667,203.000000,0.000000,0.000000,6,638
4,5.0,OO,10599,11298,597.0,2.000000,1.000000,70.000000,39.000000,0.000000,0.000000,6,631
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143941,6.0,WN,14747,14831,696.0,30.615385,30.307692,4527.538462,3076.230769,3318.076923,0.000000,6,838
143942,4.0,AA,14908,13930,1726.0,69.800000,68.600000,10764.000000,9288.000000,32.800000,661.800000,6,614
143943,4.0,WN,14107,14679,304.0,111.000000,108.928571,16208.357143,10956.357143,8370.928571,0.000000,6,838
143944,5.0,UA,11618,12173,4962.0,25.666667,24.666667,5828.166667,4510.833333,107314.166667,66181.666667,6,626
143945,5.0,OO,10693,12953,764.0,106.000000,106.000000,7420.000000,4763.000000,0.000000,0.000000,6,673

In [14]:
mo = [1]*len(full["day"])

In [15]:
len(mo)

143946

In [16]:
#ye =pd.get_dummies(full["year"], prefix = "year")

In [17]:
opa = pd.get_dummies(full["op_unique_carrier"], prefix = "unique_carrier")

In [18]:
ag = pd.get_dummies(full["aircraft_group"], prefix = "aircraft_group")

In [19]:
at = pd.get_dummies(full["aircraft_type"], prefix = "aircraft_type")

In [20]:
#re = pd.get_dummies(full["region"], prefix = "Region")

In [21]:
oai = pd.get_dummies(full["origin_airport_id"], prefix = "origin_airport_id")

In [22]:
dai = pd.get_dummies(full["dest_airport_id"], prefix = "dest_airport_id")

In [23]:
full = pd.concat([full,opa,ag,at,oai,dai], axis=1)

In [24]:
full

,day,op_unique_carrier,origin_airport_id,dest_airport_id,distance,departures_scheduled,departures_performed,seats,passengers,max,...,dest_airport_id_15412,dest_airport_id_15454,dest_airport_id_15582,dest_airport_id_15607,dest_airport_id_15624,dest_airport_id_15841,dest_airport_id_15919,dest_airport_id_15991,dest_airport_id_16101,dest_airport_id_16218
0,4.0,OO,11337,13930,397.0,51.750000,50.125000,2513.750000,1894.625000,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,1.0,AA,10397,12892,1947.0,56.666667,55.666667,8457.500000,7436.500000,2044.833333,...,0,0,0,0,0,0,0,0,0,0
2,1.0,WN,13204,13232,990.0,78.642857,76.071429,11757.928571,10204.928571,14073.571429,...,0,0,0,0,0,0,0,0,0,0
3,3.0,9E,11433,14100,453.0,4.166667,4.000000,273.666667,203.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,5.0,OO,10599,11298,597.0,2.000000,1.000000,70.000000,39.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143941,6.0,WN,14747,14831,696.0,30.615385,30.307692,4527.538462,3076.230769,3318.076923,...,0,0,0,0,0,0,0,0,0,0
143942,4.0,AA,14908,13930,1726.0,69.800000,68.600000,10764.000000,9288.000000,32.800000,...,0,0,0,0,0,0,0,0,0,0
143943,4.0,WN,14107,14679,304.0,111.000000,108.928571,16208.357143,10956.357143,8370.928571,...,0,0,0,0,0,0,0,0,0,0
143944,5.0,UA,11618,12173,4962.0,25.666667,24.666667,5828.166667,4510.833333,107314.166667,...,0,0,0,0,0,0,0,0,0,0
143945,5.0,OO,10693,12953,764.0,106.000000,106.000000,7420.000000,4763.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [25]:
full.nunique()

day                         7
op_unique_carrier          25
origin_airport_id         355
dest_airport_id           356
distance                 1427
                         ...
dest_airport_id_15841       2
dest_airport_id_15919       2
dest_airport_id_15991       2
dest_airport_id_16101       2
dest_airport_id_16218       2
Length: 791, dtype: int64

In [26]:
#list(full.keys())

In [27]:
full = full.drop(columns=["op_unique_carrier", "aircraft_group","aircraft_type", "origin_airport_id","dest_airport_id"])

In [28]:
full

,day,distance,departures_scheduled,departures_performed,seats,passengers,max,mail,unique_carrier_9E,unique_carrier_AA,...,dest_airport_id_15412,dest_airport_id_15454,dest_airport_id_15582,dest_airport_id_15607,dest_airport_id_15624,dest_airport_id_15841,dest_airport_id_15919,dest_airport_id_15991,dest_airport_id_16101,dest_airport_id_16218
0,4.0,397.0,51.750000,50.125000,2513.750000,1894.625000,0.000000,0.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1947.0,56.666667,55.666667,8457.500000,7436.500000,2044.833333,3934.000000,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1.0,990.0,78.642857,76.071429,11757.928571,10204.928571,14073.571429,0.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,453.0,4.166667,4.000000,273.666667,203.000000,0.000000,0.000000,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,597.0,2.000000,1.000000,70.000000,39.000000,0.000000,0.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143941,6.0,696.0,30.615385,30.307692,4527.538462,3076.230769,3318.076923,0.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
143942,4.0,1726.0,69.800000,68.600000,10764.000000,9288.000000,32.800000,661.800000,0,1,...,0,0,0,0,0,0,0,0,0,0
143943,4.0,304.0,111.000000,108.928571,16208.357143,10956.357143,8370.928571,0.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
143944,5.0,4962.0,25.666667,24.666667,5828.166667,4510.833333,107314.166667,66181.666667,0,0,...,0,0,0,0,0,0,0,0,0,0
143945,5.0,764.0,106.000000,106.000000,7420.000000,4763.000000,0.000000,0.000000,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()

In [30]:
cols = ['departures_scheduled', 'departures_performed', 'seats', 'passengers', 'mail', 'distance']
cols_scaled = [s + "_scaled" for s in cols]
minmax = MinMaxScaler()
full[cols_scaled] = minmax.fit_transform(full[cols])

In [31]:
full

,day,distance,departures_scheduled,departures_performed,seats,passengers,max,mail,unique_carrier_9E,unique_carrier_AA,...,dest_airport_id_15919,dest_airport_id_15991,dest_airport_id_16101,dest_airport_id_16218,departures_scheduled_scaled,departures_performed_scaled,seats_scaled,passengers_scaled,mail_scaled,distance_scaled
0,4.0,397.0,51.750000,50.125000,2513.750000,1894.625000,0.000000,0.000000,0,0,...,0,0,0,0,0.090699,0.087961,0.035132,0.035698,0.000000,0.073910
1,1.0,1947.0,56.666667,55.666667,8457.500000,7436.500000,2044.833333,3934.000000,0,1,...,0,0,0,0,0.099316,0.097685,0.118200,0.140116,0.011052,0.386914
2,1.0,990.0,78.642857,76.071429,11757.928571,10204.928571,14073.571429,0.000000,0,0,...,0,0,0,0,0.137832,0.133492,0.164326,0.192277,0.000000,0.193659
3,3.0,453.0,4.166667,4.000000,273.666667,203.000000,0.000000,0.000000,1,0,...,0,0,0,0,0.007303,0.007019,0.003825,0.003825,0.000000,0.085218
4,5.0,597.0,2.000000,1.000000,70.000000,39.000000,0.000000,0.000000,0,0,...,0,0,0,0,0.003505,0.001755,0.000978,0.000735,0.000000,0.114297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143941,6.0,696.0,30.615385,30.307692,4527.538462,3076.230769,3318.076923,0.000000,0,0,...,0,0,0,0,0.053657,0.053185,0.063276,0.057961,0.000000,0.134289
143942,4.0,1726.0,69.800000,68.600000,10764.000000,9288.000000,32.800000,661.800000,0,1,...,0,0,0,0,0.122334,0.120381,0.150435,0.175001,0.001859,0.342286
143943,4.0,304.0,111.000000,108.928571,16208.357143,10956.357143,8370.928571,0.000000,0,0,...,0,0,0,0,0.194542,0.191151,0.226524,0.206435,0.000000,0.055129
143944,5.0,4962.0,25.666667,24.666667,5828.166667,4510.833333,107314.166667,66181.666667,0,0,...,0,0,0,0,0.044984,0.043286,0.081453,0.084991,0.185924,0.995759
143945,5.0,764.0,106.000000,106.000000,7420.000000,4763.000000,0.000000,0.000000,0,0,...,0,0,0,0,0.185779,0.186012,0.103700,0.089743,0.000000,0.148021

In [32]:
full = full.drop(columns=["day",'departures_scheduled', 'departures_performed', 'seats', 'passengers', 'mail', 'distance','max'])

In [33]:
full["Month_1"] = mo

In [36]:
flights_test = pd.concat([df1,full])

In [44]:
flights_test.drop(columns=["avg_arr_delay","aircraft_type_483", "aircraft_type_619"], inplace=True)

In [52]:
flights_test = flights_test.fillna(0)

In [53]:
flights_test

,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,...,dest_airport_id_16133,dest_airport_id_16218,dest_airport_id_16869,departures_scheduled_scaled,departures_performed_scaled,seats_scaled,passengers_scaled,freight_scaled,mail_scaled,distance_scaled
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.090699,0.087961,0.035132,0.035698,0,0.000000,0.073910
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.099316,0.097685,0.118200,0.140116,0,0.011052,0.386914
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.137832,0.133492,0.164326,0.192277,0,0.000000,0.193659
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.007303,0.007019,0.003825,0.003825,0,0.000000,0.085218
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.003505,0.001755,0.000978,0.000735,0,0.000000,0.114297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143941,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.053657,0.053185,0.063276,0.057961,0,0.000000,0.134289
143942,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.122334,0.120381,0.150435,0.175001,0,0.001859,0.342286
143943,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.194542,0.191151,0.226524,0.206435,0,0.000000,0.055129
143944,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.044984,0.043286,0.081453,0.084991,0,0.185924,0.995759
143945,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0.185779,0.186012,0.103700,0.089743,0,0.000000,0.148021

In [54]:
flights_test.to_csv("DATAFRAMETOTEST.csv", index=False)